body {
  background: #edf1f5;
  margin-top: 20px;
}
.nav-spacing {
  margin-right: 50px;
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0 solid transparent;
  border-radius: 0;
}
.mailbox-widget .custom-tab .nav-item .nav-link {
  border: 0;
  color: #fff;
  border-bottom: 3px solid transparent;
}
.mailbox-widget .custom-tab .nav-item .nav-link.active {
  background: 0 0;
  color: #fff;
  border-bottom: 5px solid #011109;
}
.no-wrap td,
.no-wrap th {
  white-space: nowrap;
}
.table td,
.table th {
  padding: 0.9375rem 0.4rem;
  vertical-align: top;
  border-top: 1px solid rgba(120, 130, 140, 0.13);
}
.font-light {
  font-weight: 300;
}
